
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/base.css';
@import './styles/background.css';
@import './styles/animations.css';
@import './styles/arcade-components.css';
@import './styles/responsive.css';
